body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.profile {
  margin-top: 30px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description>.avatar {
  width: 100px;
  border: 2px inset #7563dc;
  border-radius: 50%;
}

.description>.name {
  font-size: 20px;
  font-weight: 700;
}

.description>.tag {
  font-size: 15px;
  font-weight: 400;
}

.description>.location {
  font-size: 15px;
  font-weight: 400;
}

.profile>.stats {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.stats>li {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.label {
  font-size: 18px;
  color: rgb(163, 47, 163);
}

.quantity {
  color: rgb(14, 38, 20);
}

.statistics {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.stat-list {
  padding: 0;
  width: 100%;
  display: flex;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

.stat-list>li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-list>li:nth-child(1):hover {
  background-color: rgb(0, 208, 255);
  border-radius: 5px;
}

.stat-list>li:nth-child(2):hover {
  background-color: rgb(221, 255, 0);
  border-radius: 5px;
}

.stat-list>li:nth-child(3):hover {
  background-color: rgb(77, 255, 0);
  border-radius: 5px;
}

.stat-list>li:nth-child(4):hover {
  background-color: rgb(0, 38, 255);
  border-radius: 5px;
}

.stat-list>li:nth-child(5):hover {
  background-color: rgb(16, 178, 227);
  border-radius: 5px;
}

.friend-list {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 30px;
}

.friend-list>.item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  position: relative;
}

.item>.name {
  margin: 0;
}

.item>.status-on {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 2px;
  bottom: 20px;
  background-color: green;
  border-radius: 50%;
}

.item>.status-off {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 2px;
  bottom: 20px;
  background-color: rgb(195, 6, 35);
  border-radius: 50%;
}

.transaction {
  width: 700px;
  background-color: white;
  border-radius: 10px;
}

.transaction-history {
  width: 100%;
  padding: 30px;
}

td {
  text-align: center;
}